.collapsible-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collapsible-media a {
  color: var(--primary);
  word-wrap: break-word;
}

.collapsible-media img,
.collapsible-media video {
  width: 100%;
}

.url-preview {
  color: var(--primary);
  cursor: zoom-in;
}

.collapsible {
  width: 100%;
}

.collapsed-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.collapsed-event-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.collapsed-event-header svg {
  color: var(--text-muted);
}
