.collapsible-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collapsible-media a {
  color: var(--text-link);
  word-wrap: break-word;
}

.collapsible-media img,
.collapsible-media video {
  width: 100%;
}

.url-preview {
  color: var(--text-link);
  cursor: zoom-in;
}
