.live-chat {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border: none;
  height: calc(100vh - 56px - 64px - 56px - 230px);
}

@media (min-width: 768px) {
  .profile-info {
    width: calc(100vw - 600px - 16px);
  }

  .live-chat {
    width:  calc(100vw - 600px - 16px);
    height: calc(100vh - 56px - 64px - 16px);
  }

  .video-content video {
    width: 100%;
  }
}

@media (min-width: 1020px)  {
  .profile-info {
    width: unset;
    padding: 0;
  }

  .live-chat {
    height: calc(100vh - 72px - 96px);
    padding: 24px 16px 8px 24px;
    border: 1px solid #171717;
    border-radius: 24px;
    gap: 16px;
  }

  .live-chat {
    width:  320px;
  }
}

@media (min-width: 2000px) {
  .live-chat {
    height: calc(100vh - 72px - 96px - 120px - 56px);
  }
}

.live-chat > .header {
  display: flex;
  justify-content: space-between
}

.live-chat .header .title {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.live-chat .header .popout-link {
  color: #FFFFFF80;
}

.live-chat>.messages {
  display: flex;
  gap: 12px;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 1020px){
  .live-chat > .messages {
    flex-grow: 1;
  }
}

.live-chat>.write-message {
  display: flex;
  gap: 8px;
  margin-top: auto;

  padding-top: 8px;
  border-top: 1px solid var(--border, #171717);
}

.live-chat>.write-message>div:nth-child(1) {
  height: 32px;
  flex-grow: 1;
}

.live-chat .write-message input {
  background: unset;
  border: unset;
  color: inherit;
  font: inherit;
  flex-grow: 1;
}

.live-chat .message {
  word-wrap: break-word;
  position: relative;
}

.live-chat .message .profile {
  gap: 8px;
  font-weight: 600;
  font-size: 15px;
  float: left;
}

.live-chat .message .profile {
  color: #34D2FE;
}

.live-chat .message.streamer .profile {
  color: #F838D9;
}

.live-chat .message a {
  color: #F838D9;
}

.live-chat .profile img {
  width: 24px;
  height: 24px;
}

.live-chat .message>span {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 8px;
}

.live-chat .messages {
  color: white;
}

.live-chat .zap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-zappers h3 {
  margin: 0;
  font-size: 16px;
  font-family: Outfit;
  font-weight: 600;
}

.top-zappers-container {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top-zappers-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1020px) {
  .top-zappers-container {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border, #171717);
  }
}

.top-zapper {
  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
  gap: 8px;
  border-radius: 49px;
  border: 1px solid var(--border, #171717);
}

.top-zapper .top-zapper-amount {
  font-size: 15px;
  font-family: Outfit;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.top-zapper .top-zapper-name {
  font-size: 14px;
  margin: 0;
}

.zap-container {
  position: relative;
  border-radius: 12px;
  border: 1px solid transparent;
  background: #0A0A0A;
  background-clip: padding-box;
  padding: 8px 12px;
}

.zap-container:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -1px;
  background: linear-gradient(to bottom right, #FF902B, #F83838);
  border-radius: inherit;
}

.zap-container .profile {
  color: #FF8D2B;
}

.zap-container .zap-amount {
  color: #FF8D2B;
}

.zap-container.big-zap:before {
  background: linear-gradient(60deg, #2BD9FF, #8C8DED, #F838D9, #F83838, #FF902B, #DDF838);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.zap-content {
  margin-top: 8px;
}

.zap-pill {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.10);
  width: fit-content;
  display: flex;
  height: 24px;
  padding: 0px 4px;
  align-items: center;
  gap: 2px;
}

.zap-pill-icon {
  width: 12px;
  height: 12px;
  color: #FF8D2B;
}

.message-zap-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #303030;
  background: #111;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  width: fit-content;
  z-index: 1;
  transition: opacity .3s ease-out;
}

@media (min-width: 1020px) {
  .message-zap-container {
    flex-direction: column;
  }
}

.message-zap-button {
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.05);
  color: #FFFFFF66;
}

.message-zap-button:hover {
  color: white;
}

.message-zap-button-icon {
  width: 16px;
  height: 16px;
}

.message-reactions {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  margin-top: 4px;
}

.message-reaction-container {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.10);
}

.message-reaction {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.zap-pill-amount {
  text-transform: lowercase;
  color: #FFF;
  font-size: 12px;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.message-composer {
  display: flex;
  flex-direction: column;
}

.write-message-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.write-message-container .paper {
  flex: 1;
}

.write-emoji-button {
  color: #FFFFFF80;
  cursor: pointer;
}
.write-emoji-button:hover {
  color: white;
}
