.live-chat {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border: none;
  gap: var(--gap-s);
}

.live-chat ::-webkit-scrollbar {
  width: 8px;
}

.live-chat .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live-chat .header .title {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.live-chat .header .popout-link {
  color: #ffffff80;
}

.live-chat > .messages {
  display: flex;
  gap: 12px;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

@media (min-width: 1020px) {
  .live-chat > .messages {
    flex-grow: 1;
  }
}

.live-chat > .write-message {
  display: flex;
  gap: 8px;
  margin-top: auto;

  padding-top: 8px;
  border-top: 1px solid var(--border, #171717);
}

.live-chat > .write-message > div:nth-child(1) {
  flex-grow: 1;
}

.live-chat .write-message input {
  background: unset;
  border: unset;
  color: inherit;
  font: inherit;
  flex-grow: 1;
}

.live-chat .message {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.live-chat .message a {
  display: inline-flex;
}

.live-chat .message .text a {
  color: var(--primary);
  overflow-wrap: anywhere;
}

.live-chat .messages {
  color: white;
}

.live-chat .zap {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.top-zappers {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  border-bottom: 1px solid var(--border, #171717);
  padding-bottom: var(--gap-s);
}

.top-zappers h3 {
  margin: 0;
  font-size: 16px;
  font-family: Outfit;
  font-weight: 600;
}

.top-zappers-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

.top-zappers-container::-webkit-scrollbar {
  height: 8px;
}

@media (min-width: 1020px) {
  .top-zappers-container {
    display: flex;
    gap: 8px;
  }
}

.zap-container {
  position: relative;
  border-radius: 12px;
  border: 1px solid transparent;
  background: #0a0a0a;
  background-clip: padding-box;
  padding: 8px 12px;
}

.zap-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  background: linear-gradient(to bottom right, #ff902b, #f83838);
  border-radius: inherit;
}

.zap-container.big-zap:before {
  background: linear-gradient(60deg, #2bd9ff, #8c8ded, #f838d9, #f83838, #ff902b, #ddf838);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.zap-pill {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  width: fit-content;
  display: flex;
  height: 24px;
  padding: 0px 4px;
  align-items: center;
  gap: 2px;
}

.message-zap-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #303030;
  background: #111;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  width: fit-content;
  z-index: 1;
  transition: opacity 0.3s ease-out;
}

@media (min-width: 1020px) {
  .message-zap-container {
    flex-direction: column;
  }
}

.message-zap-button {
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff66;
}

.message-zap-button:hover {
  color: white;
}

.message-zap-button-icon {
  width: 16px;
  height: 16px;
}

.message-reactions {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  margin-top: 4px;
}

.message-reaction-container {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
}

.message-reaction {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.zap-pill-amount {
  text-transform: lowercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.message-composer {
  display: flex;
  flex-direction: column;
}

.write-message-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.write-message-container .paper {
  flex: 1;
}

.write-emoji-button {
  color: #ffffff80;
  cursor: pointer;
}

.write-emoji-button:hover {
  color: white;
}

.message .badge-icon {
  background: transparent;
  width: 18px;
  height: 18px;
  border-radius: unset;
}

.badge-award {
  border-radius: 12px;
  border: 1px solid #303030;
  background: #111;
  padding: 8px 12px;
}

.badge-award .title {
  margin: 0;
}

.badge-awardees {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
