.markdown a {
  color: var(--primary);
}

.markdown blockquote {
  margin: 0;
  color: var(--font-secondary-color);
  border-left: 2px solid var(--font-secondary-color);
  padding-left: 12px;
}

.markdown hr {
  border: 0;
  height: 1px;
  background-image: var(--gray-gradient);
  margin: 20px;
}

.markdown img:not(.custom-emoji),
.markdown video,
.markdown iframe,
.markdown audio {
  max-width: 100%;
  display: block;
}

.markdown iframe,
.markdown video {
  width: -webkit-fill-available;
  aspect-ratio: 16 / 9;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 0.5em 0;
}