.markdown a {
  color: var(--text-link);
}

.markdown > ul,
.markdown > ol {
  margin: 0;
  padding: 0 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.markdown > p {
  font-size: 18px;
  font-style: normal;
  overflow-wrap: break-word;
  font-weight: 400;
  line-height: 29px; /* 161.111% */
}

.markdown > img {
  max-height: 230px;
  width: 100%;
}
