.new-stream {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.new-stream h3 {
  font-size: 24px;
  margin: 0;
}

.new-stream p {
  margin: 0 0 8px 0;
}

.new-stream small {
  display: block;
  margin: 8px 0 0 0;
}

.new-stream .btn.wide {
  padding: 12px 16px;
  border-radius: 16px;
  width: 100%;
}

.new-stream div.paper {
  background: #262626;
  padding: 12px 16px;
}

.new-stream .btn:disabled {
  opacity: 0.3;
}

.new-stream .pill {
  border-radius: 16px;
  background: #262626;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
}

.new-stream .pill.active {
  color: inherit;
  background: #353535;
}

.new-stream .tos-link {
  cursor: pointer;
  color: var(--text-link);
}

.new-stream .tos-link:hover {
  text-decoration: underline;
}
