.note {
  margin: 8px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  overflow-wrap: break-word;
}

.note .note-header {
  display: flex;
  justify-content: space-between;
}

.note .note-header .profile {
  font-size: 15px;
  font-weight: 600;
}

.note .note-header .note-avatar {
  width: 24px;
  height: 24px;
}

.note .note-header .note-link-icon {
  color: #909090;
}

.note .note-content .markdown > * {
  font-size: 14px;
}

.note .note-content .markdown > *:last-child {
  margin-bottom: 0;
}
