.send-zap {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.send-zap .amounts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  gap: 8px;
}

.send-zap .pill {
  border-radius: 16px;
  background: #262626;

  padding: 8px 12px;
  text-align: center;
}

.send-zap p {
  margin: 0 0 8px 0;
  font-weight: 500;
}

.send-zap .btn {
  width: 100%;
  padding: 12px 16px;
}

.send-zap .qr {
  align-self: center;
}
