.stream-cards,
.edit-container {
  display: none;
}

@media (min-width: 1020px) {
  .edit-container {
    display: block;
  }
  .stream-cards {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 12px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1600px) {
  .stream-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2100px) {
  .stream-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editor-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stream-card {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  width: 100%;
  overflow-wrap: break-word;
}

.stream-card.image-card {
  padding: 0;
  background: transparent;
}

.stream-card .card-title {
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 1900px) {
  .stream-card {
    width: 342px;
  }
}

.add-card {
  align-items: center;
  justify-content: center;
}

.add-card .add-icon {
  color: var(--text-muted);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.new-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-card h3 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
}

.new-card input[type="text"] {
  background: #262626;
  padding: 8px 16px;
  border-radius: 16px;
  width: unset;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.new-card textarea {
  width: unset;
  background: #262626;
  padding: 8px 16px;
  border-radius: 16px;
  margin-bottom: 8px;
  resize: vertical;
  min-height: 210px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 8px;
}

.new-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.help-text {
  color: var(--text-muted);
  font-size: 14px;
  margin-left: 6px;
}

.help-text a {
  color: var(--primary);
}

.add-button {
  height: 50px;
}

.delete-button {
  background: transparent;
  color: var(--text-danger);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.stream-card .card-image {
  max-width: 343px;
}

.stream-card {
  max-width: 343px;
}
