.video-tile {}

.video-tile>div:nth-child(1) {
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video-tile h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 16px 0;
    word-break: break-all;
    word-wrap: break-word;
}

.video-tile .pill-box {
    float: right;
    margin: 16px 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(100% - 32px);
}

.video-tile .pill-box .pill {
    width: fit-content;
}

.video-tile .pill-box .pill.viewers {
    text-transform: lowercase;
}