.video-tile {
  position: relative;
}

.video-tile-container {
  display: flex;
  flex-direction: column;
}

.video-tile-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.video-tile.nsfw > div:nth-child(1) {
  filter: blur(3px);
}

.video-tile > div:nth-child(1) {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 16 / 10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video-tile h3 {
  font-size: 20px;
  line-height: 25px;
  margin: 16px 0 6px 0;
  word-break: break-all;
  word-wrap: break-word;
}

.video-tile .pill-box {
  margin: 16px 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  gap: 8px;
}

.video-tile .pill-box .pill {
  width: fit-content;
}

.video-tile .pill-box .pill.viewers {
  text-transform: lowercase;
}

.video-tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}

.video-tags .pill {
  font-size: 12px;
}
