.zap-alert-widgets .zap-alert {
  animation: cssAnimation 0s ease-in 5s forwards;
  animation-fill-mode: forwards;
}

.zap-alert {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.zap-alert > div:nth-of-type(1) {
  width: fit-content;
  font-size: 21px;
  font-weight: 600;
  border-radius: 33px;
  background: linear-gradient(135deg, #882bff 0%, #f83838 100%);
  margin: 0;
  padding: 8px 24px;
  margin-bottom: -11px;
  z-index: 2;
}

.zap-alert > div:nth-of-type(2) {
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background: #2d2d2d;
  padding: 27px 90px;
  font-size: 29px;
  font-weight: 600;
}

.zap-alert .highlight {
  color: #ff4468;
}

@keyframes cssAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.views {
  display: inline-block;
  border-radius: 16px;
  background: #222;
  padding: 16px 24px;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
}

.top-zappers-widget {
  display: inline-flex;
  border-radius: 16px;
  background: #222;
  padding: 16px 24px;
  font-size: 21px;
  font-weight: 600;
  align-items: center;
  gap: 16px;
}

.top-zappers-widget .top-zapper {
  background-color: #3f3f3f;
  border: unset;
}

.top-zappers-widget .profile > img {
  width: 24px;
  height: 24px;
}
