.popout-chat {
  grid-area: main-content;
}

.popout-chat .live-chat {
  margin-left: 0;
}

.popout-chat .live-chat {
    height: calc(100vh);
    padding: 10px;
    border: unset;
    border-radius: unset;
}

.popout-chat .live-chat .messages {
    overflow: hidden;
}
