.popout-chat .live-chat {
  padding: 8px 16px;
  width: calc(100vw - 32px);
  height: calc(100vh - 16px);
  margin-left: 0;
  border: unset;
  border-radius: unset;
}

.popout-chat .live-chat .messages {
  padding-right: unset;
}

.popout-chat.embed .live-chat .messages::-webkit-scrollbar {
  display: none;
}
