.page {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "profile"
    "chat";
  grid-template-rows: 64px 230px 56px min-content;
  grid-template-columns: 1fr;
  height: 100vh;
  gap: 0;
}

.page.home {
  display: grid;
  grid-template-areas:
    "header"
    "main-content";
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr;
}

.popout-chat {
  display: grid;
  grid-template-areas:
    "main-content";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  gap: 0;
}

.live-chat {
  max-height: calc(100vh - 385px);
}

.popout-chat .live-chat {
  max-height: unset;
}

@media (min-width: 768px) {
  .video-content video {
    height: calc(100vh - 64px);
  }

  .live-chat {
    width: fit-content;
    max-height: calc(100vh - 82px);
  }

  .page {
    display: grid;
    grid-template-areas:
      "header header"
      "main-content profile"
      "main-content chat";
    grid-template-rows: 64px min-content;
    grid-template-columns: minmax(600px, 1fr) min-content;
    gap: 0;
  }
}

@media (min-width: 1020px) {
  .page {
    width: unset;
    display: grid;
    height: calc(100vh - 72px - 32px - 32px);
    padding: 0 40px;
    grid-template-columns: auto 376px;
    grid-template-rows: unset;
    grid-template-areas:
      "header header"
      "main-content chat"
      "profile chat";
    gap: 0;
  }
}

@media (min-width: 2000px) {
  .page {
    grid-template-columns: auto 450px;
  }
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: min-content min-content auto;
    gap: 24px;
    align-items: center;
    padding: 24px 40px 0 40px;
}

header .logo {
    background: #171717;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .input {
    min-width: 300px;
    height: 32px;
}

header .header-right {
    justify-self: end;
    display: flex;
    gap: 24px;
}

header input[type="text"]:active {
    border: unset;
}

header button {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
}

header .profile img {
    width: 48px;
    height: 48px;
}

@media (max-width: 1020px) {
  header {
    padding: 8px 16px 8px 16px;
    gap: 8px;
  }

  header .header-right {
    gap: 8px;
  }

  header .input {
    min-width: unset;
  }

  header .input .search-input {
    display: none;
  }

  header .new-stream-button-text {
    display: none;
  }

  header .profile img {
    border-radius: 12px;
  }
}
