.tabs-list {
  flex-shrink: 0;
  display: flex;
}

.tabs-tab {
  background: #0a0a0a;
  background-clip: padding-box;
  color: white;
  border: 1px solid #0a0a0a;
  border-bottom: 1px solid transparent;
  position: relative;
  cursor: pointer;
  height: 52px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 16px;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .tabs-tab {
    font-size: 14px;
  }
}

.tab-border {
  height: 1px;
  margin-top: 12px;
  background: transparent;
  width: 100%;
}

.tabs-tab[data-state="active"] .tab-border {
  height: 1px;
  background: linear-gradient(94.73deg, #2bd9ff 0%, #8c8ded 47.4%, #f838d9 100%);
}

.tabs-content:focus {
  box-shadow: 0 0 0 2px black;
}

.profile-page .live-button span {
  display: none;
}
.profile-page .zap-button span {
  display: none;
}

@media (min-width: 480px) {
  .profile-page .zap-button span {
    display: block;
  }
  .profile-page .live-button span {
    display: block;
  }
}
