.settings-page {
  width: 753px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1020px) {
  .settings-page {
    padding: 0 24px;
    width: calc(100vw - 48px);
    margin: unset;
    overflow-y: hidden;
  }
}

.settings-page .tab-content {
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 24px;
  border-radius: 24px;
  background: #171717;
}

.settings-page .tab-options > div {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.settings-page .tab-options > div:hover {
  border-radius: 8px;
  background: #171717;
}
