.profile-page {
  display: flex;
  justify-content: center;
}

.public-key {
  display: flex;
  align-items: center;
  gap: 8px;
}

.private-key {
  display: flex;
  align-items: center;
  gap: 8px;
}
