.stream-page {
  display: grid;
  grid-template-columns: auto 450px;
  gap: var(--gap-m);
}

.stream-page .video-content {
  overflow-y: auto;
  gap: var(--gap-s);
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stream-page .video-content::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1020px) {
  .stream-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-page-padding) - var(--header-height) - var(--gap-s));
  }

  .stream-page .video-content {
    overflow-y: visible;
  }

  .stream-page .live-chat {
    border-radius: 0;
    border: 0;
    padding: 8px 16px;
    height: unset;
    min-height: 0;
  }

  .stream-page .live-chat .top-zappers h3,
  .stream-page .live-chat .header {
    display: none;
  }

  .stream-page .info {
    flex-direction: column;
  }

  .stream-page .stream-info {
    display: none;
  }

  .stream-page .profile-info {
    width: calc(100% - 32px);
  }

  .stream-page .video-content video {
    max-height: 30vh;
  }
}

.profile-info {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
}

.profile-info .btn {
  padding: 12px 16px;
}

.info h1 {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}

.info p {
  margin: 0 0 12px 0;
}

.actions {
  margin: 8px 0 0 0;
  display: flex;
  gap: 12px;
}

.offline {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.online > div {
  display: none;
}

.offline > div {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .offline > div {
    top: 10em;
  }
}

.offline > video {
  z-index: -1;
  position: relative;
}
