.video-content {
  grid-area: video-content;
}


.video-content video {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 230px;
}

@media (min-width: 768px){
  .video-content video {
    max-height: unset;
  }
}

.pill {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #A7A7A7;
  text-transform: uppercase;
}

.pill.live {
  color: inherit;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
}

@media (min-width: 1020px) {
  .info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .profile-info {
    width: unset;
  }
}

.live-chat .header {
  display: none;
}

.stream-info {
  display: none;
}

@media (min-width: 1020px) {
  .live-chat .header {
    display: block;
  }

  .stream-info {
    display: block;
  }

  .video-content video {
    height: 100%;
  }

  .live-chat {
    margin-left: 32px;
  }
}

.info {
  grid-area: profile;
  margin-top: 8px
}

.info h1 {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}

.info p {
  margin: 0 0 12px 0;
}

.tags {
  display: flex;
  gap: 8px;
}

.actions {
  margin: 8px 0 0 0;
  display: flex;
  gap: 12px;
}

.info .btn.zap {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.offline {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.online>div {
  display: none;
}

.offline>div {
  position: fixed;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.offline>video {
  z-index: -1;
  position: relative;
}
