.rti--container {
    background-color: unset !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: unset !important;
  }
  
  .rti--tag {
    color: black !important;
    padding: 4px 10px !important;
    border-radius: 12px !important;
    display: unset !important;
  }
  