body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  color: white;
}

:root {
  --gap-l: 32px;
  --gap-m: 24px;
  --gap-s: 16px;
  --header-height: 48px;
  --text-muted: #797979;
  --text-link: #f838d9;
  --text-danger: #ff563f;
  --surface: #222;
  --border: #171717;
  --gradient-purple: linear-gradient(135deg, #882bff 0%, #f83838 100%);
  --gradient-yellow: linear-gradient(270deg, #adff27 0%, #ffd027 100%);
  --gradient-orange: linear-gradient(
    270deg,
    #ff5b27 0%,
    rgba(255, 182, 39, 0.99) 100%
  );
}

@media (max-width: 1020px) {
  :root {
    --gap-l: 24px;
    --gap-m: 16px;
    --gap-s: 8px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: unset;
  text-decoration: unset;
}

:focus-visible {
  outline: none;
}

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.f-col {
  flex-direction: column;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.pill {
  background: #171717;
  padding: 4px 8px;
  border-radius: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  user-select: none;
}

.pill.live {
  background: #f838d9;
  color: white;
}

.g24 {
  gap: 24px;
}

.g12 {
  gap: 12px;
}

.w-max {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-small {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}

.btn-border {
  border: 1px solid transparent;
  color: inherit;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(94.73deg, #2bd9ff 0%, #f838d9 100%) border-box;
  transition: 0.3s;
}

.btn-border:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(94.73deg, #14b4d8 0%, #ba179f 100%) border-box;
}

.btn-primary {
  background: #fff;
  color: #0a0a0a;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  color: white;
  background: #222;
}

.btn-warning {
  background: #ff563f;
  color: white;
}

.btn > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

input[type="text"],
textarea,
input[type="datetime-local"],
input[type="password"],
input[type="number"] {
  font-family: inherit;
  border: unset;
  background-color: unset;
  color: inherit;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #333;
  background-color: transparent;
}

input[type="checkbox"]:after {
  content: " ";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

div.paper {
  background: #171717;
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.warning {
  color: #ff563f;
}

.border-warning {
  border: 1px solid #ff563f;
}

.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 1;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
  background-color: #171717;
  border-radius: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  overflow-y: auto;
}

.dialog-content div.paper {
  background: #262626;
}

.dialog-content h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.dialog-content small {
  display: block;
  color: #868686;
  margin: 6px;
}

.dialog-trigger {
  font-size: 15px;
  background: transparent;
  border: none;
  display: inline;
}

.ctx-menu {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 12px;
  background: #434343;
  padding: 12px 0px;
  color: white;
  display: flex;
  flex-direction: column;
}

.ctx-menu li {
  padding: 12px 24px;
  display: flex;
  gap: 16px;
}

.ctx-menu li:hover {
  background: #505050;
}

.szh-menu__item--hover {
  background-color: unset;
}

.emoji {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
}

.surface {
  padding: 8px 12px 12px 12px;
  background: var(--surface);
  border-radius: 10px;
}

.outline {
  padding: 8px 12px 12px 12px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.secondary {
  color: #909090;
}
