body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0A0A;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: unset;
  text-decoration: unset;
}

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.pill {
  background: #171717;
  padding: 4px 8px;
  border-radius: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  user-select: none;
}

.pill.live {
  background: #F838D9;
  color: white;
}

.g24 {
  gap: 24px;
}

.g12 {
  gap: 12px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-border {
  border: 1px solid transparent;
  color: inherit;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(94.73deg, #2BD9FF 0%, #F838D9 100%) border-box;
}

.btn-primary {
  background: linear-gradient(94.73deg, #2BD9FF 0%, #8C8DED 47.4%, #F838D9 100%);
  color: white;
}

.btn-red {
  background: rgb(143, 0, 0);
  color: white;
}

.btn>span {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="text"], textarea, input[type="datetime-local"] {
  font-family: inherit;
  border: unset;
  background-color: unset;
  color: inherit;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

div.input {
  background: #171717;
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}